[Unit]
Description=ML Server
After=network.target

[Service]
WorkingDirectory=/opt/ml_server/src
Environment=PYTHONPATH=/opt/ml_server/src
ExecStart=/opt/ml_server/env/bin/gunicorn -w 2 -b 0.0.0.0:5000 ml_server.app.microstructure_server:create_app()
Restart=always

[Install]
WantedBy=multi-user.target
