[Unit]
Description=Celery Worker
After=network.target

[Service]
WorkingDirectory=/opt/ml_server/src
Environment=PYTHONPATH=/opt/ml_server/src
EnvironmentFile=/opt/ml_server/.env
ExecStart=/opt/ml_server/env/bin/celery -A ml_server.celery_app worker
Restart=always

[Install]
WantedBy=multi-user.target
