[Unit]
Description=ML Server
After=network.target

[Service]
WorkingDirectory=/opt/ml_server/src
Environment=PYTHONPATH=/opt/ml_server/src
EnvironmentFile=/opt/ml_server/.env
ExecStart=/opt/ml_server/env/bin/gunicorn -b 0.0.0.0:5000 -w 2 -t 300 ml_server.app.server:create_app()
Restart=always

[Install]
WantedBy=multi-user.target
