Flask==3.0.2
Werkzeug==3.0.1
Jinja2==3.1.2
python-dotenv==1.0.0
Pillow==11.1.0
requests==2.32.4
celery==5.3.6
redis==5.0.1
gunicorn==21.2.0
Flask-Compress==1.14
Flask-Talisman==1.1.0
prometheus-client==0.20.0
