# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Build files
*.pyc
build/
dist/
*.egg-info/ 